/*----------Color de fondo de la pagina------------*/
body {
  background-color:black;
  font-family: 'Roboto Condensed', sans-serif;

}

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

  /*----------Cabecera------------------------------------*/
  
  /*Contenedor de la cabecera*/
  .cabecera{
    background-color: black;
    margin-left: 0rem;
    margin-right: -0.5rem;
    margin-top: -0.5rem;
    height: 3.2rem;
  }
  
  /*Titulo de la UDLP*/
  h2{
    color:#ffbf00;
    cursor: pointer;
    margin-left: 10rem;
    position: absolute;
    top: 1.5rem;
  }
  /*Contenedor de las redes sociales*/
  .menuRedesSociales{
    position: absolute;
    left: 81rem;
    margin-left: 0rem;
    top: 1.5rem;
    padding: 0.5rem;
  }
  /*Tamaño de los iconos*/
  .iconoMenu{
    width: 2.5rem;
    height: 2.5rem;
  }

  /*Casa*/
.logo{
  display: block;
  margin-left: 3rem;
  margin-top: 1rem;
  width: 6rem;
  height: 6rem;
}
/*-------------------Jumbotron-----------------------*/

  /*Contenedor del logo*/
  .contenedorLogo{
    height: 9rem;
    margin-top: 3rem;
    margin-left: -12rem;
    margin-right: -0.5rem;
    background-image: url("/imgs/fondo1.jpg");
    opacity: 0.2;
  }
  
  /*Logo*/
  .logoPrincipal{
    width: 9rem;
    height: 9rem;
    position: absolute;
    left: 45rem;
    top: 3.6rem;
  } 


/*------------Menu Principal---------------*/

.menuPrincipal{
	width: 89rem;
  margin-left: 5.5rem;
  margin-right: 0rem;
  margin-top: 0rem;
  /* position: sticky;
  z-index: 9999; */
}

/* The navigation menu */
.navbar {
  overflow: hidden;
  background-color: #1d1d1d;
  margin-right: 1.4rem;
  position: sticky;
  top: 0;
}

/* Navigation links */
.navbar a {
  float: left;
  font-size: 16px;
  color: #ffbf00;;
  text-align: center;
  text-decoration: none;
}

/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #ffbf00;;
  padding: 1rem 10rem;
  background-color: inherit;
  font-family: inherit;
  width: 29.2rem;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: rgb(69, 69, 245);
  color: #000000;
  font-weight: bold;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  background-color: yellow;
  width: 5rem;
}

/* Style the subnav links */
.subnav-content a {
  float: left;
  color: #ffbf00;;
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}

/*Texto de encima del Slider*/

/*Titulo del juego*/
#titulo{
text-align: center;
margin-top: 0rem;
color: #ffbf00;
}

/*Texto de informacion*/
h3{
  margin-left: 6rem;
  margin-right: 6rem;
  color:white;
}

/*------------------------------ CSS SLIDER------------------------ */

.sliderPrincipal{
  background-color: black;
  margin-left: 5.5rem;
  margin-top: 1rem;
  margin-right: 4.8rem;
} 

.sliderJE{
margin-left: 5rem;
} 

.imgSlider{ 
  margin-left: -5rem;
  width: 87.6rem; 
  height: 35rem;
  display: none;
} 
  
.dot {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  margin: 0 0.5rem;
  background-color: #bbb;
  border-radius: 5rem;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover{
  transform: scale(1.2);
}

.active, .dot:hover {
  background-color: #ffbf00;
}
  
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 48rem;
  width: auto;
  margin-top: -2rem;
  padding: 1rem;
  color: #ffbf00;;
  font-weight: bold;
  font-size: 1.5rem;
  transition: 0.6s ease;
  border-radius: 0 3rem 3rem 0;
  user-select: none;
  z-index: 10;
}

.prev{
  margin-left: -5rem;
}

.next {
  margin-right: 2.8rem;
  right: 40px;
  border-radius: 3rem 0 0 3rem;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.botonSlider{
  margin-top: 1rem;
  margin-left: -6rem;
  text-align: center;
}

.textoabajo{
  margin-left: 1rem;
}

/*---------------------------------Ventana Modal-----------------------------*/

/* The Modal (background) */
.modal {
display: none; 
position: fixed;
z-index: 1; 
left: 0;
top: 0;
width: 100%;
height: 100%; 
overflow: auto; 
}

/* Modal Content/Box */
.modal-content {
background-color: black;
margin: 15% auto;
padding: 20px;
border: 2px solid white;
width: 80%; 
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}


.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.miembros{
    margin-left: 17rem;
}


/*----------------------Modal con los datos del jugador---------------------*/

.imgmodal{
  display: block;
}

/*Primera tabla*/
.texttr{
  margin-left: 15rem;
  margin-top: -16rem;
  display: block;
  color: white;
}

.texttd1{
  margin-left: 15rem;
  display: block;
  color: white;
}

.texttd2{
  margin-left: 15rem;
  display: block;
  color: white;
}

.texttd3{
  margin-left: 15rem;
  display: block;
  color: white;
}

.texttd4{
  margin-left: 15rem;
  display: block;
  color: white;
}
.texttd5{
  margin-left: 15rem;
  display: block;
  color: white;
}

/*Segunda tabla*/
.texttr2{
  margin-left: 15rem;
  margin-top: -6rem;
  display: block;
  color: white;
}

.texttd6{
  margin-left: 15rem;
  display: block;
  color: white;
}

.texttd7{
  margin-top: -8.5rem;
  margin-left: 30rem;
  display: block;
  color: white;
}
.texttd8{
  margin-top: -8.5rem;
  margin-left: 45rem;
  display: block;
  color: white;
}

.tamima1{
  width: 22%;
  height: 22%;
}

.tamima2{
  width: 50%;
  height: 50%;
}

.tamima3{
  width: 100%;
  height: 100%;
}

/*--------------Botones con la informacion de los jugadores-------------*/

#myBtn{
  margin-left: 15rem;
  background-color: #333333;
  color: #ffbf00;
}

#myBtn2{
  margin-left: 6rem;
  background-color: #333333;
  color: #ffbf00;
}

#myBtn3{
  margin-left: 6rem;
  background-color: #333333;
  color: #ffbf00;
}

#myBtn4{
  margin-left: 5rem;
  background-color: #333333;
  color: #ffbf00;
}

#myBtn5{
  margin-left: 6rem;
  background-color: #333333;
  color: #ffbf00;
} 


/*--------------------------------Footer------------------------*/

.patrocinador1{
  margin-left: 28rem;
  margin-top: -4rem;
  width: 15rem;
  display: block;
  opacity: 0.8;
}

/* KenTech*/
.patrocinador2{
  margin-left: 58rem;
  margin-top: -8rem;
  width: 15rem;
  display: block;
  opacity: 0.8;
}

p{
  text-align: center;
  color: #ffbf00;
}

.lineafooter{
  color: #ffffff;
}

.poliCookie{
  display: inline;
  margin-left: 37rem;
}

.terminos{
  display: inline;
  margin-left: 5rem;
}


